<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!--<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings,Microsoft.Practices.EnterpriseLibrary.Data" requirePermission="true"/>-->
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <connectionStrings>
    <add name="ShuEntities" connectionString="metadata=res://*/Shu.csdl|res://*/Shu.ssdl|res://*/Shu.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.10;initial catalog=HS_SmartCampus;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DB" connectionString="server=192.168.1.10;database=HS_SmartCampus;uid=sa;pwd=123456;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="DB" />
  <appSettings>
    <!--配置程序集名称与命名空间的名称-->
    <add key="AssemblyPath" value="Shu.DAL" />
    <add key="NameSpace" value="Shu.DAL" />
    <add key="minYear" value="2016" />
    <add key="dbPath" value="/Files/dbfiles" />
    <add key="dbName" value="HS_ZHXY" />
    <add key="WebSiteMaxPageSize" value="2" />
    <add key="IEVersion" value="建议使用IE6.0以上版本浏览器浏览本站 最佳分辨率：1024 * 768及以上" />
    <add key="ProjectName" value="合肥和顺-智慧校园平台 " />
    <add key="CompanyInfo" value="合肥和顺信息科技有限公司" />
    <!--SSO单点登录主域-->
    <add key="SSOPassport" value="http://192.168.1.10:180" />
    <!--AppKey唯一标识及系统模块ID-->
    <add key="SSOAppKey" value="SYMODULE-menu-0001-0001-000000000001" />
    <!--AppSecret安全私钥(未启用)-->
    <add key="SSOAppSecret" value="SYMODULE-menu-0001-0001-000000000001" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" maxRequestLength="2147483647" maxQueryStringLength="2097151" />
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="UC" src="~/UserControls/UCFiles.ascx" tagName="File" />
        <add tagPrefix="UC" src="~/UserControls/UCDataFiles.ascx" tagName="DataFile" />
        <add tagPrefix="UC" src="~/UserControls/UCEasyUIDataGrid.ascx" tagName="EasyUIGrid" />
        <add tagPrefix="UC" src="~/UserControls/UCFilesImage.ascx" tagName="FileImage" />
        <add tagPrefix="UC" src="~/UserControls/UCExpAllDeptEasyUISingleTree.ascx" tagName="DeptTree" />
        <add tagPrefix="UC" src="~/UserControls/UCButton.ascx" tagName="Button" />
        <add tagPrefix="UC" src="~/UserControls/UCButtonGrid.ascx" tagName="ButtonGrid" />
      </controls>
      <namespaces>
        <add namespace="Shu.Utility.Extensions" />
        <add namespace="Shu.Utility" />
        <add namespace="Shu.Comm" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <add value="Main.aspx" />
      </files>
    </defaultDocument>
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="40800" />
      </requestFiltering>
    </security>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <log4net>
    <logger name="YDTDALLog">
      <level value="Debug" />
      <appender-ref ref="RollingFile" />
    </logger>
    <!--将日志以回滚文件的形式写到文件中-->
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <!--该配置项参数指明了日志文件存放的地方-->
      <param name="File" value="Log\YDTDAL_" />
      <param name="DatePattern" value="yyyyMMdd.lo\g" />
      <param name="RollingStyle" value="Date" />
      <param name="StaticLogFileName" value="false" />
      <!--该配置项参数指明是否在原文件中添加日志信息-->
      <param name="AppendToFile" value="true" />
      <!--该配置项参数指明输出信息的布局或格式-->
      <layout type="log4net.Layout.PatternLayout">
        <!--
          日志的显示格式："%timestamp [%thread] %-5level %logger - %message%newline"
          Timestamp: 表示程序已经开始执行的时间。 单位[毫秒]
          Thread:执行当前代码的线程
          Level：日志的级别
          Logger：日志相关请求的名称
          Message：日志消息
        -->
        <param name="ConversionPattern" value="%d [%t] [%-5p] - %m%n" />
      </layout>
    </appender>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>