.icon-add{background: url('/Content/Icons/Button/16/add.png') no-repeat center center;}
.icon-edit{background: url('/Content/Icons/Button/16/edit.png') no-repeat center center;}
.icon-cancel{background: url('/Content/Icons/Button/16/cancel.gif') no-repeat center center;}
.icon-2012092109942{background: url('/Content/Icons/Button/16/2012092109942.png') no-repeat center center;}
.icon-20130406015709810_easyicon_net_16{background: url('/Content/Icons/Button/16/20130406015709810_easyicon_net_16.png') no-repeat center center;}
