.icon-57{background: url('/Content/Icons/Menu/16/57.png') no-repeat center center;}
.icon-93{background: url('/Content/Icons/Menu/16/93.png') no-repeat center center;}
.icon-87{background: url('/Content/Icons/Menu/16/87.png') no-repeat center center;}
.icon-95{background: url('/Content/Icons/Menu/16/95.png') no-repeat center center;}
.icon-7{background: url('/Content/Icons/Menu/16/7.png') no-repeat center center;}
.icon-68{background: url('/Content/Icons/Menu/16/68.png') no-repeat center center;}
.icon-84{background: url('/Content/Icons/Menu/16/84.png') no-repeat center center;}
.icon-23{background: url('/Content/Icons/Menu/16/23.png') no-repeat center center;}
.icon-75{background: url('/Content/Icons/Menu/16/75.png') no-repeat center center;}
.icon-32{background: url('/Content/Icons/Menu/16/32.png') no-repeat center center;}
.icon-11{background: url('/Content/Icons/Menu/16/11.png') no-repeat center center;}
.icon-123{background: url('/Content/Icons/Menu/16/123.png') no-repeat center center;}
.icon-62{background: url('/Content/Icons/Menu/16/62.png') no-repeat center center;}
.icon-24{background: url('/Content/Icons/Menu/16/24.png') no-repeat center center;}
.icon-38{background: url('/Content/Icons/Menu/16/38.png') no-repeat center center;}
.icon-12{background: url('/Content/Icons/Menu/16/12.png') no-repeat center center;}
.icon-31{background: url('/Content/Icons/Menu/16/31.png') no-repeat center center;}
