body {
}

.report{font: normal 14px/22px Verdana, Geneva, sans-serif;  margin:0 auto; border-top:1px solid #88BBE2; border-right: 1px solid #88BBE2; border-bottom: 1px solid #88BBE2; border-left: 1px solid #88BBE2;}
