@charset "gb2312";
body{
  text-align:center;
  font-size:12px;
}

.box_middle{
  background-image:url(wrong_bg_3.gif);
  background-repeat:repeat-y;
  text-align:center;
}

.wrong_text{
  text-align:left;
}